body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
h1, h2 {
    color: rgb(255, 86, 96);
}
a.mail {
    color: rgb(255, 86, 96);
    text-decoration: none;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
ul {
    padding-left: 20px;
}
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
}